:root {
  --screen-width:  100vw;
  --screen-height: 100vh;
}

* {
  position:   relative;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#screen {
  width:    var(--screen-width);
  height:   var(--screen-height);
  overflow: hidden;
}

#visualizer {
  --visualizer-height: 256px;
  position:            absolute;
  top:                 calc((var(--screen-height) / 2) - (var(--visualizer-height) / 2));
  left:                0;
  width:               var(--screen-width);
  height:              var(--visualizer-height);
  background-color:    #f0f8ff;
  image-rendering:     pixelated;
  image-rendering:     crisp-edges;
}
